@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=DM+Sans:wght@400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header{
  position: fixed !important;
  top: 0;
  left: 0;

  width: 100%;

  z-index: 999999;

  background: transparent;

  pointer-events: auto;
}
:root {
  --nav-h: 64px;
  --accent: #1d9e75;
  --accent-light: #e1f5ee;
}
nav {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--nav-h);

  padding: 0 24px;
  padding-right: 6%;

  background: rgba(0,0,0,0.18) !important;
  backdrop-filter: blur(10px);

  z-index: 999999;
}
.logo {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: 600;
  color: white;
  padding-left: 8%;
  text-decoration: none;
  letter-spacing: -0.5px;
  flex-shrink: 0;
}
.logo span {
  color: var(--accent);
}
.nav-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
}
.nav-links a {
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition:
    color 0.15s,
    background 0.15s,
    transform 0.15s ease,
    box-shadow 0.15s ease;
}
.nav-links a:hover {
  color: rgb(0, 0, 0);
  background: #ffffff;
  transform: translateY(-2px); /*this creates the “popup”*/
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
.login {
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
  border-radius: 50px;
  transition:
    color 0.15s,
    background 0.15s,
    transform 0.15s ease,
    box-shadow 0.15s ease;

  color: white;
  background-color: black;
  padding: 6px 30px;
}
.login:hover {
  color: #111;
  background: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.212);
}
.dropdown {
  position: relative;
}
/* .dropdown-menu-div {
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  filter: blur(10px);
} */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;

  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;

  transition: 
    opacity 0.2s ease-out,
    transform 0.2s ease-out;

  background-color: rgba(0, 0, 0, 0.726);
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 6px;
  min-width: 160px;
  list-style: none;
  z-index: 100;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.13);
  /* display: none;
  position: absolute;
  top: calc(100%);
  left: 0;
  background: #fff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 6px;
  min-width: 160px;
  list-style: none;
  z-index: 100;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.07); */
}
.dropdown:hover .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  /* display: block; */
}
.dropdown-menu li a {
  display: block;
  padding: 8px 12px;
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 6px;
  transition:
    color 0.12s,
    background 0.12s;
}
.dropdown-menu li a:hover {
  color: #111;
  background: rgba(255, 255, 255, 0.678);
}
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  padding: 8px;
  border: 1.5px solid #00000075;
  background: none;
  background-color: transparent;
  border-radius: 8px;
  transition:
    color 0.15s,
    background 0.15s,
    transform 0.15s ease,
    box-shadow 0.15s ease;
}
.hamburger:hover {
  transform: translateY(-2px); /*this creates the “popup”*/
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
.hamburger span {
  display: block;
  width: 20px;
  height: 2px;
  background: #0000008c;
  border-radius: 2px;
}
.hamburger.open span:nth-child(1) {
  transform: translateY(7.3px) rotate(45deg);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: translateY(-6.5px) rotate(-45deg);
}
.mobile-menu {
  position: absolute;
  top: var(--nav-h);
  left: 0;
  right: 0;

  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;

  transition: opacity 0.2s ease, transform 0.2s ease;

  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  backdrop-filter: blur(100px);
  background: transparent;
  background-color: rgba(255, 255, 255, 0.171);
  padding: 6px;
  margin: 0 8px;
  z-index: 100;
  overflow: hidden;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.13);
}
.mobile-menu.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.mobile-menu ul {
  list-style: none;
  width: 100%;
}
.mobile-menu > ul > li {
  width: 100%;
  display: block;
  z-index: 100;
}
.mobile-menu > ul > li > a {
  display: block;
  width: 100%;
  padding: 10px 12px;
  font-size: 15px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  color: #111;
  border-radius: 8px;
  text-decoration: none;
  transition: 
    color 0.15s,
    background 0.15s,
    transform 0.15s ease,
    box-shadow 0.15s ease;
}
.mobile-menu > ul > li > a:hover {
  background: #ffffff;
  transform: translateY(-2px); /*this creates the “popup”*/
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
.mobile-menu > ul > li > button {
  display: block;
  width: 100%;
  padding: 10px 12px;
  font-size: 15px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  color: #111;
  text-decoration: none;
  text-align: left;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  transition: 
    color 0.15s,
    background 0.15s,
    transform 0.15s ease,
    box-shadow 0.15s ease;
}
.mobile-menu > ul > li > button:hover {
  background: #ffffff;
  transform: translateY(-2px); /*this creates the “popup”*/
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
.mobile-sub {
  padding-left: 12px;
  margin-top: 2px;
  border-left: 2px solid var(--accent-light);
  margin-left: 12px;

  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);

  overflow: hidden;

  transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.2s ease;
}
.mobile-sub.open {
  max-height: 300px; /* enough for your items */
  opacity: 1;
  transform: translateY(0);
}
.mobile-sub li a {
  display: block;
  padding: 7px 10px;
  font-size: 13px;
  color: #666;
  text-decoration: none;
  border-radius: 6px;
  transition: 
    color 0.15s,
    background 0.15s,
    transform 0.15s ease,
    box-shadow 0.15s ease;
}
.mobile-sub li a:hover {
  color: #111;
  background: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
.mobile-sub.collapsed {
  opacity: 0;
  transform: translateY(-5px);
  max-height: 0;
}
.mobile-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}
.mobile-login {
  display: block;
  width: 100%;
  margin: 12px 0;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: black;
  border-radius: 8px;
  text-decoration: none;
  transition:
    color 0.15s,
    background 0.15s,
    transform 0.15s ease,
    box-shadow 0.15s ease;
  font-family: "DM Sans", sans-serif;
}
.mobile-login:hover {
  color: #111;
  background: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.212);
}
@media (max-width: 680px) {
  .nav-links {
    display: none;
  }
  .login {
    display: none;
  }
  .hamburger {
    display: flex;
  }
}
@media (min-width: 680px) {
  .mobile-menu.open {
    display: none;
  }
}
/* ACTIVE PAGE */

.active-link {
  color: var(--accent) !important;
  font-weight: 600;
  position: relative;
}

.active-link::after {
  content: "";
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: 2px;
  height: 2px;
  background: var(--accent);
  border-radius: 10px;
}

/* LOGIN ACTIVE */

.active-login {
  background: var(--accent);
  color: white !important;
}
.scrolled nav{
  background: rgba(0,0,0,0.75) !important;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.nav-actions{
  display:flex;
  align-items:center;
  gap:12px;
}