.hero-slider {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
}

.slider-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* each slide layer */
.slide-image {
  position: absolute;
  inset: 0;

  background-size: cover;
  background-position: center;

  opacity: 0;
  transform: scale(1.05);

  transition:
    opacity 1s ease,
    transform 1.5s ease;
}

.slide-image.active {
  opacity: 1;
  transform: scale(1);
}

/* overlay */
.overlay {
  position: absolute;

  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background: rgba(0, 0, 0, 0.45);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
}

.overlay h1 {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 20px;
}

.overlay p {
  font-size: 22px;
  margin-bottom: 30px;
}

/* search box */
.search-box {
  display: flex;
  gap: 10px;

  padding: 12px;
  background: white;

  border-radius: 50px;
}

.search-box input {
  border: none;
  outline: none;

  padding: 15px;
  width: 350px;
  border-radius: 50px;
  font-size: 20px;
}

.search-box button {
  border: none;
  padding: 15px 30px;

  background: #00a779;
  color: white;

  border-radius: 50px;
  font-size: 18px;

  cursor: pointer;
}

.search-box button:hover {
  opacity: 0.9;
}

/* responsive */
@media (max-width: 768px) {
  .overlay h1 {
    font-size: 40px;
  }

  .search-box {
    flex-direction: column;
    width: 90%;
    margin-top: 0px;
    padding: 20px;
  }

  .search-box input {
    width: 100%;
  }
  .search-box button {
    font-size: 20px;
    padding: 20px 30px;
  }
}
